<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="proyecto5App">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/main">La Colegoneta</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                  Antes <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#/car">Buscar Coche o Casa</a></li>
                  <li><a ng-show="loggedIn" href="#/car-register">Compartir Coche</a></li>
                  <li><a ng-show="loggedIn" href="#/house-register">Compartir Casa</a></li>
                  <li><a ng-show="loggedIn" href="#/vote-concert">Votar Conciertos</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                  Mientras <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a ng-show="loggedIn" href="#/create-calendar">Crear Agenda</a></li>
                  <li><a ng-show="loggedIn" href="#/find-concert">Buscar Conciertos</a></li>
                  <li><a ng-show="loggedIn" href="#/local-contacts">Localizacion de Contactos</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                  Despues <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a ng-show="loggedIn" href="#/comment-concert">Comentar Conciertos</a></li>
                  <li><a ng-show="loggedIn" href="#/create-friends">Crear Amistades</a></li>
                  <li><a ng-show="loggedIn" href="#/future-events">Notificaciones de Eventos Futuros</a></li>
                </ul>
              </li>

              <!--<li><a ng-href="#/about">Mientras</a></li>
              <li><a ng-href="#/">Despues</a></li>-->
              <li><a ng-href="#/perfil" ng-show="loggedIn">Mi Perfil</a></li>
              <li  class="navbar-btn">
                <button class="btn btn-block btn-social btn-facebook" ng-click="login()" ng-hide="loggedIn">
                  <i class="fa fa-facebook"></i>login
                </button>
              </li>
              <li  class="navbar-btn">
                <button class="btn btn-block btn-social btn-facebook" ng-click="logout()" ng-show="loggedIn">
                  <i class="fa fa-facebook"></i>logout
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-user"></span> medebes5euros Team</p>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <script src='bower_components/lodash/lodash.js'></script>
    <script src='bower_components/angular-simple-logger/dist/angular-simple-logger.js'></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/car.js"></script>
        <script src="scripts/controllers/car-register.js"></script>
        <script src="scripts/controllers/house-register.js"></script>
        <script src="scripts/controllers/perfil.js"></script>
        <script src="scripts/controllers/vote-concert.js"></script>
        <!-- endbuild -->
</body>
</html>
