<style>
  .angular-google-map-container { height: 400px; }
</style>

<div class="row">
  <div class="col-xs-8">
    <select ng-change="filterMap(mapFilter)" ng-model="mapFilter"  class="form-control">
      <option selected value="houses">Ver Casas</option>
      <option selected value="cars">Ver Coches</option>
    </select>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-markers models="filteredMarkers" coords="'geo'" icon="'icon'" options="'options'" click="onClick">
      </ui-gmap-markers>
      <ui-gmap-markers models="houseMarkers" coords="'geo'" icon="'icon'" options="'options'" click="onHouseClick">
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>
  <div class="col-xs-4">
    <form name="carForm">
      <input type="hidden" name="id" value="{{selectedCarMarker.id}}">
      <div class="form-group">
        <select ng-change="onChangeFestival()" class="form-control" name="repeatSelect" id="repeatSelect" ng-model="selectedFestival">
            <option  ng-repeat="festival in festivals" value="{{festival.id}}">{{festival.name}}</option>
        </select>
      </div>
    
      <div ng-show="selectedCarMarker">
          <hr>
          <strong>Festival:</strong> 
          <span  ng-repeat="festival in festivals | filter:{id:selectedCarMarker.festival}">
            {{festival.name}}
          </span><br />
          <hr>
          <strong>Direccion:</strong> <span>{{selectedCarMarker.direccion}}</span>
          <hr>
          <strong>Plazas libres:</strong> <span>{{selectedCarMarker.plazas}}</span>
           <hr>

            <button class="btn btn-success disabled" ng-class="{disabled:selectedCarMarker==null}" ng-click="reservar(selectedCarMarker)">Reservar coche</button>
      </div>
    </form>

    <form name="houseForm"  ng-show="selectedHouseMarker">
      <input type="hidden" name="id" value="{{selectedHouseMarker.id}}">
  
      <div>
          <hr>
          <strong>Festival:</strong> 
          <span  ng-repeat="festival in festivals | filter:{id:selectedHouseMarker.festival}">
            {{festival.name}}
          </span><br />
          <hr>
          <strong>Direccion:</strong> <span>{{selectedHouseMarker.direccion}}</span>
          <hr>
          <strong>Plazas libres:</strong> <span>{{selectedHouseMarker.plazas}}</span>
           <hr>

        <button class="btn btn-success disabled" ng-class="{disabled:selectedHouseMarker==null}" ng-click="reservarHouse(selectedHouseMarker)">Reservar Casa</button>
      </div>
    </form>
  </div>
</div>