<div class="jumbotron">
	<button ng-click="login()">login</button>
	<button ng-click="getLoginStatus()">getLoginStatus</button>
	<button ng-click="me()">me</button>
  <h1>'BIME HACK DAY!</h1>
  <p class="lead">
    <img src="images/hack.png" alt="Hack Day"><br>
    <p>Esta aplicacion SaaS te permitira acceder a gestiones antes de disfrutar del BIME 2015, mientras disfrutas del BIME 2015 y despues del BIME 2015</p>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">¡Comencemos!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>