<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="//graph.facebook.com/{{user.id}}/picture?type=large"/>
        <div class="fb-profile-text">
            <h1>{{user.name}} <span ng-show="user.location.name">({{user.location.name}})</span></h1>
            <p>Girls just wanna go fun.</p>
        </div>
    </div>
</div> <!-- /container -->  

<div>
	<ul>
		<h2>Mis casas ofrecidas</h2>
		<li ng-repeat="house in myHouses">
			{{house.name}} {{house.direccion}}
		</li>
	</ul>

	<ul>
		<h2>Mis coches ofrecidos</h2>
		<li ng-repeat="car in myCars">
			{{car.name}} {{car.direccion}}
		</li>
	</ul>
</div>