

<div ng-controller="VoteConcertCtrl">
  <script type="text/ng-template" id="group-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
      <div class="panel-heading">
        <h4 class="panel-title" style="color:#fa39c3">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
    </div>
  </script>

  <uib-accordion close-others="oneAtATime">
	<uib-accordion-group ng-repeat="concert in concerts" heading="{{concert.name}} - Likes: {{concert.likes}}">
	<div class="media">
	
	  <div class="media-left">
	      <img class="media-object img-responsive img-thumbnail" width="100" src="{{concert.url}}" alt="{{concert.name}}">
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">{{concert.description}}</h4>
	    <button ng-click='concert.track.paused ? concert.track.play() : concert.track.pause()'><span class="glyphicon glyphicon-play"></button>
		 <button ng-click='concert.track.restart()'><span class="glyphicon glyphicon-stop"></span></button>
		 <button ng-click='concert.track.muting = !concert.track.muting'><span class="glyphicon glyphicon-volume-off"></span></button>

		 <button class="btn btn-success" ng-click="addLike(concert.id)" >
		 		<span class="glyphicon glyphicon-ok"></span>
		 </button>

		 <button class="btn btn-danger" ng-click="disLike(concert.id)">
		 	<span  class="glyphicon glyphicon-remove"></span>
		 </button>	
	  </div>
	</div>
	</uib-accordion-group>
  </uib-accordion>
</div>

