

<div ng-controller="VoteConcertCtrl">
  <script type="text/ng-template" id="group-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
      <div class="panel-heading">
        <h4 class="panel-title" style="color:#fa39c3">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
            ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
    </div>
  </script>

  <uib-accordion close-others="oneAtATime">
	<uib-accordion-group ng-repeat="concert in concerts" heading="{{concert.name}} | {{concert.likes}}">
	<div class="media">
	  <div class="media-left">
	      <img class="media-object img-responsive img-thumbnail" width="100" src="{{concert.url}}" alt="{{concert.name}}">
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">{{concert.description}}</h4>
	    {{concert.track}}
	    <audio loop="loop" controls="controls">
		 <source ng-src="concert.track" type='audio/mpeg'>
		 <p>Lo siento pero no soportas musica en tu navegador...¡Mierdas, que eres un mierdas!.</p>
		</audio>
	  </div>
	</div>
	</uib-accordion-group>
  </uib-accordion>
</div>

